* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body,
html {
    /* background-color: rgb(67, 65, 65); */
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 225, 148, 1) 100%);

}




.navbar ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    font-weight: bolder;
    padding: 10px;

}

.navbar ul li {
    list-style: none;
    letter-spacing: 4px;
    cursor: pointer;
}

.navbar {
    background-color: rgba(255, 112, 112, 255);

    height: 60px;
    padding: 5px;
}


.line {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid black;
}

.top {
    top: 0;
    left: 5px;
}

.mid {
    top: 10px;
    left: 5px;
}

.bottom {
    top: 20px;
    left: 5px;
}



.navbar .burger {
    position: relative;
    padding: 5px;

}

.content {
    display: flex;

}

.details {

    align-content: center;
    width: 50%;

    height: 705px;
    margin: auto;
    padding-left: 40px;
    text-align: justify;
    /* background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 225, 148, 1) 100%); */
}

.content .details h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: larger;
    font-size: 50px;
    letter-spacing: 10px;
}

.content .details p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
    word-spacing: 5px;
    font-size: 20px;
    padding: 5px;
    line-height: 1.5;
    text-transform: capitalize;
}

.pic {
    background: url('pexels-robin-stickel-70497.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    width: 736px;
    height: 705px;
    right: 0;
    top: 0;
}

.btn {


    width: 200px;
    height: 40px;
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 112, 112, 255);
    letter-spacing: 1px;
    font-size: medium;
    cursor: pointer;
}



.next {
    /* background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 225, 148, 1) 100%); */
    display: grid;
    padding: 50px;

}

.whole {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}


.photos {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;

}

.flex {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}




.one {
    width: 220px;
    height: 220px;
    background-image: url('pexels-rachel-claire-6752433.jpg');
    background-size: cover;

}

.two {
    width: 220px;
    height: 220px;
    background-image: url('pexels-eva-bronzini-6141651.jpg');
    background-size: cover;

}

.aside {
    background-image: url('pexels-mister-mister-3434523.jpg');
    background-size: cover;
    width: 200px;
    height: 100%;
}

.right {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #ff7070;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 1px grey;
}

.right h1 {
    font-size: 60px;
    padding-left: 30px;
    letter-spacing: 2px;
}

.right p {
    padding: 30px;
}

.arrow {

    border: none;
    background: transparent;
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: larger;
    cursor: pointer;
}
@media(max-width:1200px){
    .right h1{
        letter-spacing: 5px;
    }
}




@media (max-width:992px) {
    .navbar ul li {
        font-size: large;
        letter-spacing: 0px;
        padding: 5px;

    }

    .content {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details {

        width: 80%;
    }

    .pic {

        width: 88%;
        
        
    }

    .next {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .whole {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        
    }

    .photos {
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .img {
       
        width: 100%;
        height: 800px;
        
    
    }

    .aside {
        width: 100%;
        height: 800px;
    }

    .right {
        width: 100%;
        ;
    }
}

@media (max-width:500px) {


    .navbar ul li {
        font-size: medium;
        display: flex;
        display: flex;

    }

    .navbar {
        width: 560px;
    }

    .content {

        display: flex;
        flex-direction: column;
    }

    .pic {
        background-size: cover;
        margin-left: 30px;
    }

    .next {
        display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .whole {
        display: flex;
        flex-direction: column;
    }

    .photos {
      height:500px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

    }
    .img{
        height: 200px;
        width: 100%;
    }

    .flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        column-gap: 20px;
        margin-left: 30px;

    }

    .aside {
        /* background-image: url('pexels-mister-mister-3434523.jpg0'); */
        background-size: cover;
       
        margin-left: 30px;

    }

    .right {
        width: 450px;
        height: 450px;
        margin-left: 60px;
    }
}
@media(max-width:576px){
    .right{
        padding: 10px;
        height: 100%;
    }
}
@media(max-width:600px){
    .right{
        padding: 10px;
        height: 100%;
    }
}

